@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400;500&display=swap');

*{
    font-family: Comfortaa;
}

input{
    padding: 5px 5px;
    display: block;
    width: 100%;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(210, 9, 255, 0.18);
    background: #292934;
    color: #ffffff;
    transition: 0.2s;
    font-size: 15px;
}
input:hover{
    border-color: #6222f7;
    color: #ffffff;
}
body{
    background: #292934;
}

/*--------HEADER---------*/


/*-----form------*/

form div.error {
    color: rgba(255, 0, 75, 0.89);
}
form div.error i{
    color: #ff004b;
}

form{
    color: white;
}
.reg-form h2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;


}
form label{
    margin-bottom: 8px;
}
.form-group{
    margin-bottom: 25px;
}
form i{
    color: rgba(154, 52, 255, 0.73);
}
.btn{
    background: rgba(114, 65, 255, 0.83);
    color: white;
    margin-left: 2px;
}

.btn:hover{
    background: rgba(114, 65, 255, 0.36);
}
form a{
    transition: .2s;
    color: white;
    text-decoration: none;
    margin-left: 150px;
}
form a:hover{
    color: rgba(210, 9, 255, 0.78);
}

/*-----footer------*/
footer{
    margin-top: 80px;
    background: #121111;
    color: white;
    position: relative;
    text-align: center;
}

footer h3{
    padding-top: 20px;
    padding-bottom: 5px;
}
footer h3 a{
    color: rgba(210, 9, 255, 0.78);
    font-size: 40px;
    margin-bottom: 10px;
    transition: 1s;
    text-decoration: none;
    padding-top: 20px;
}
footer h3 a:hover{
    color: white;
    cursor: pointer;
}

.socials{
    margin-bottom: 20px;
}
.socials a{
    font-size: 22px;
    color: white;
    padding-left:10px;
    transition: .2s;
}

.socials a:first-child{
    font-size: 22px;
    color: white;
    padding-left:0;
    transition: .2s;
}

.socials a:hover{
    color: #6238fc;
}

.footer-bottom{
    background: #44445c;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    left: 0;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
}