@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400;500&display=swap');

*{
    font-family: Comfortaa;
}

input{
    padding: 5px 5px;
    display: block;
    width: 100%;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(210, 9, 255, 0.18);
    background: #292934;
    color: #ffffff;
    transition: 0.2s;
    font-size: 15px;
}
input:hover{
    border-color: #6222f7;
    color: #ffffff;
}
body{
    background: #292934;
}

/*--------HEADER---------*/
header{
    background: #121111;
    height: 100px;
}

header * {
    color: white;
}

header h1 {
    margin-top: 20px;
}

header h1 a{
    text-decoration: none;
    font-family: Comfortaa;
    color: rgba(210, 9, 255, 0.78);
    transition: 0.5s;
}

header h1 a:hover{
    text-decoration: none;
    color: white;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 35px;
    transition: 0.5s;
}

header ul li a:hover{
    background: rgba(0, 0, 0, 0.53);
    color: rgba(210, 9, 255, 0.78);
}

header ul li ul {
    position: absolute;
    top: 100px;
    width: 180px;
    z-index: 300;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li ul li {
    width:100%;
}

header ul li ul li a {
    padding: 10px;
    background: #6222f7;
    color: rgba(0, 0, 0, 0.73);
}

/*-----main------*/
.container-main{
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 30px auto;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.47);
    border-radius: 20px;
    border-width: 2px;
    color: white;
    background: #121111;
}

/*--posts--*/

.single_post img{
    padding: 10px 0;
    margin-top: 5px;
    width: 550px;
    max-width: 100%;
    border-radius: 20px;
}
.main-content h2{
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-family: Montserrat;
}

.main-content .single-post{
    margin-left: 20px ;

}

.main-content .post-text{
    margin-bottom: 15px;
    padding-left: 20px ;
}

.main-content .post-text h3{
    margin-top: 15px;
}
.main-content .post-text h3 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Raleway;
    font-weight: 600;
    transition: 0.2s;
}
.main-content .post-text h3 a:hover{
    color: rgba(163, 57, 255, 0.83);
}
.main-content .post-text p{
    font-size: 17px;
}
.data-icons{
    color: rgba(213, 213, 229, 0.51);
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 15px;
}

.icons-block{
    display: flex;
}
.icons1{
    max-width: 150px;
}

.icons2{
    margin-left: 6px;
    max-width: 90px;
}

button{
    max-height: 30px;
    max-width: 30px;
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer; /* Mouse pointer on hover */
    margin-bottom: 10px;
}

.data-icons span{
    color: rgba(98, 68, 251, 0.82);;
}
.icons-block span{
    font-size: 15px;
    margin-left: 1px;
    color: #866eff;
    font-weight: bold;
}

.action-icons{
    font-size: 22px;

    color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    margin-bottom: 22px;
}
.action-icons:hover{
    color: #a10deb;
}

.post:last-child{
    margin-bottom: 45px;
}

/*--Sidebar--*/
.search{
    margin-top: 100px;
}

.sidebar .section{
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.67);
    border-width: 2px;
}

.sidebar .search h3, .topics h3{
    color: #ffffff;
    font-size: 23px;
}

.sidebar .topics ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .topics ul li a{
    font-family: Raleway;
    display: block;
    padding: 15px 5px;
    border-bottom: 2px solid rgba(200, 183, 255, 0.58);
    border-radius: 1px;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.1em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    color: rgba(140, 9, 255, 0.78);
}

/*--Comments--*/

.comments_block h3 {color: #7644ff;}

.comments_block button {
    color: #949494;
    font-size: 20px;
    margin-right: 10px;
    float: right;
}

.comments_list{
    margin-top: 50px;
}

.def_comment{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid rgba(200, 183, 255, 0.58);
}

.def_comment i{color: #6238fc}

.comments_block .content{
    margin-top: 5px;
    margin-bottom: 3px;
}

.comments_block .date{
    font-size: 15px;
    color: #73738e;
}

.comments_block .fa-trash{

    color: rgba(255, 0, 75, 0.5);
}

/*-----footer------*/
footer{
    background: #121111;
    color: white;
    position: relative;
    text-align: center;
}

footer h3{
    padding-top: 20px;
    padding-bottom: 5px;
}
footer h3 a{
    color: rgba(210, 9, 255, 0.78);
    font-size: 40px;
    margin-bottom: 10px;
    transition: 1s;
    text-decoration: none;
    padding-top: 20px;
}
footer h3 a:hover{
    color: white;
    cursor: pointer;
}

.socials{
    margin-bottom: 20px;
}
.socials a{
    font-size: 22px;
    color: white;
    padding-left:10px;
    transition: .2s;
}

.socials a:first-child{
    font-size: 22px;
    color: white;
    padding-left:0;
    transition: .2s;
}

.socials a:hover{
    color: #6238fc;
}

.footer-bottom{
    background: #44445c;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    left: 0;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
}


.error{
    color: #ff004b;
}