@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Raleway:wght@300;400;500&display=swap');

*{
    font-family: Comfortaa;
}

input{
    padding: 5px 5px;
    display: block;
    width: 100%;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: rgba(210, 9, 255, 0.18);
    background: #292934;
    color: #ffffff;
    transition: 0.2s;
    font-size: 15px;
}
input:hover{
    border-color: #6222f7;
    color: #ffffff;
}
body{
    background: #292934;
}


/*-----carousel------*/

.carousel-title{
    margin-top: 30px;
    margin-left: 45px;
    color: white;
}


.carousel-inner, .carousel-item{
    height: 450px;
    border-radius: 20px;
}

.carousel-caption h5{
    font-size: 40px;
    font-weight: 500;
    background: #292934;
    max-width: 100%;
    opacity:0.9;
    padding: 0.2em;
    border-radius: 20px;
}

.carousel-caption h5 a{
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.carousel-caption h5 a:hover{
    color: rgba(210, 9, 255, 0.64);
}


/*-----main------*/
.container-main{
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    margin: 30px auto;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.47);
    border-radius: 20px;
    border-width: 2px;
    color: white;
    background: #121111;
}

/*--posts--*/

.post img{
    padding: 20px 0;
    margin-top: 5px;
    width: 550px;
    max-width: 100%;
    border-radius: 20px;
}
.main-content h2{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.main-content .post{
    margin-left: 20px ;
}

.main-content .post-text{
    margin-bottom: 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: rgba(255, 248, 248, 0.46);
    padding-left: 20px ;
}

.main-content .post-text h3{

}
.main-content .post-text h3 a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Raleway;
    font-weight: 600;
    transition: 0.2s;
}
.main-content .post-text h3 a:hover{
    color: rgba(163, 57, 255, 0.83);
}
.main-content .post-text p{
    font-size: 17px;
}
.data-icons{
    max-height: 20px;
    color: rgba(213, 213, 229, 0.51);
    margin-bottom: 20px;
    margin-left: 2px;
    font-size: 15px;
}

.icons-block{
    display: flex;
}
.icons1{
    max-width: 150px;
}

.icons2{
    margin-left: 10px;
    max-width: 90px;
}

.post i{
    max-height: 30px;
    max-width: 30px;
    margin-left: 6px;

    cursor: pointer; /* Mouse pointer on hover */
    margin-top: 10px;
    margin-bottom: 20px;
}

.post .data-icons span{
    color: rgba(98, 68, 251, 0.82);;
}
.post .icons-block span{
    font-size: 15px;
    margin-left: 1px;
    color: #866eff;
    font-weight: bold;
}

.action-icons{
    font-size: 22px;

    color: rgba(255, 255, 255, 0.4);
    transition: 0.2s;
    margin-bottom: 25px;
}
.action-icons:hover{
    color: #a10deb;
}

.liked{
    color: #eb0d57;
}
.post:last-child{
    margin-bottom: 45px;
}

/*--Sidebar--*/
.search{
    margin-top: 100px;
}

.sidebar .section{
    background: rgba(0, 0, 0, 0);
    padding: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.67);
    border-width: 2px;
}

.sidebar .search h3, .topics h3{
    color: #ffffff;
    font-size: 23px;
}

.sidebar .topics ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar .topics ul li a{
    font-family: Raleway;
    display: block;
    padding: 15px 5px;
    border-bottom: 2px solid rgba(200, 183, 255, 0.58);
    border-radius: 1px;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.1em;
}
.sidebar .topics ul li a:hover{
    padding-left: 10px;
    color: rgba(140, 9, 255, 0.78);
}


/*-----@Pagination------*/

.pagination{
    margin-left: 250px;
}
.page-item{
    --bs-pagination-bg: #191919 !important;
}

.page-link{
    color: #6222f7 !important;
    border: rgba(0, 0, 0, 0.78) !important;
}



/*-----@media------*/

@media (max-width: 1400px) {

    nav ul li a{
       padding-right: 5px;
    }
}

@media (max-width: 1200px) {

    nav ul li a{
        font-size: 18px;
     }
    
}

@media (max-width: 1000px) {

    .container{
        max-width: 100%;
        padding: 0 15px;
    }

    header h1{
        margin-left: 35px;
        margin-top: 18px;
        font-size: 42px;
    }

    .col-8{
        width: 100px;
    }
    nav ul li{
        display: none;
     }

    .burger{
        display: flex;
        right: 0;
    }


    
}

@media (max-width: 767px) {
   
    header h1{
        margin-left: 0;
    }

    .carousel-title{
        margin-left: 10px;
    }
    .carousel-inner{
        height: 200px;
    }
    .carousel-indicators{
        display: none;
    }

    .carousel-caption{
        z-index: 1;
    }

    .main-content .post{
        margin: 0 0;
    }

    .post img{
        padding: 0 0;
        margin-top: 20px;
    }
    .main-content .post h3 a{
        font-size: 23px;
    }

    .main-content .post p{
        font-size: 15px;
    }
}